.a__todos {
  padding: 10px 20px;
  color: #555;
}

/************* b__title *************/
.b__title {
  padding: 20px 0 30px 0;
}

/************* b__add-inpu *************/
.b__add-input input {
  width: 300px;
}

.b__add-input .delete-all {
  margin-left: 20px;
}

/************* main *************/
.b__lists {
  padding: 20px 0;
  font-size: 18px;
}

.b__lists .text {
  margin-left: 20px;
}

.b__lists ul {
  list-style: none;
}

.b__lists ul li {
  padding-bottom: 15px;
}

.b__lists .w__text {
  cursor: pointer;
}

.b__lists .w__text .text.done {
  color: #ddd;
  text-decoration: line-through;
}

.b__lists .w__text .text.done {
  color: #ddd;
  text-decoration: line-through;
}

.b__lists .remove {
  margin-left: 20px;
  color: #cb0f13;
  cursor: pointer;
}

.b__lists .remove:hover {
  opacity: 0.6;
}

.b__lists .no-message {
  padding: 20px 40px;
}

/************* semantic-override *************/
.ui.checkbox {
  top: 2px;
}

.green {
  background-color: #00797e !important;
}

.green:hover {
  opacity: 0.8;
}

.pink {
  background-color: #ff5d62 !important;
}

.pink:hover {
  opacity: 0.8;
}

.red {
  background-color: #cb0f13 !important;
}

.red:hover {
  opacity: 0.8;
}
